/* variables */
:root {
  --black: rgb(23, 23, 23);
  --white: rgb(248, 246, 246);
  --grey: rgb(128, 128, 128);
  --dark-grey: rgb(57, 57, 57);
}

/* utilites */
.button {
  margin-left: 12rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: all 300ms;
  gap: 3rem;
}
#t_button{
  margin-left: 1rem;
  width:auto;
}
#k_button{
   width:auto;
}
#tk_button{
  margin-left: 3rem;
  width:auto;

}

.button-white {
  background-color: var(--white);
  color: var(--black);
}

.button:hover {
  transform: scale(1.1);
}

/* column thing */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;

}

.flex-wrap-guest{
  display:flex;
  flex-direction: column;
}


.flex-wrap-aq1{
  display:flex;
  flex-direction: column;
}
.flex-wrap-stats {
  display: flex;
  flex-wrap: wrap;
  width: 49%;
  align-items: flex-start;

}
.aqcolumn{
  width: 100%;
}

.space-evenly {
  justify-content: space-evenly;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.float {
  float: left;
}

/* app specific */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white);
  scroll-behavior: smooth;
}
.flybutton{
  width: 100%;
}
h4{
  font-size: 0.5cm;
  margin: 0.3rem 0;
}
.leaflet-popup-content div p{
  margin: 0.3rem 0;
  font-size: 0.5cm;
}

.container {
  width: 100%;
  position: relative;
}

.page-header,
.page-footer {
  background-color: #1D3557;
  color: var(--white);
  padding: 1rem;
}

.page-footer {
  text-align: center;
}

.page-title {
  margin: 0;
  text-align: center;
}

ion-icon {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
  height: auto;
}

main {
  padding: 1rem 2rem;
}

#map {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.boxes {
  width: 100%;
}

.box {
  padding: 0.4rem;
  font-size: x-small;
}
.box2 {
  padding: 1rem;
}
.box3 {
  padding: 1rem;
}

#map,
.box {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  margin-bottom: 1rem;
}
.box2 {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  margin-bottom: 1rem;
}

.box h2,
.box figure {
  margin: 0;
  padding: 0;
}

.box table {
  width: 100%;
  border: var(--grey) solid 1px;
  border-radius: 4px;
}

.box li {
  width: calc(50% - 0.6rem);
  text-align: center;
  border: var(--grey) solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.3rem;
  margin: 0.3rem;
}

.box2 li {
  width: calc(100% - 0.6rem);
  text-align: center;
  border: var(--grey) solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.3rem;
  margin: 0.3rem;
}
 .box2 table {
  width: 100%;
  text-align: center;
  border: var(--grey) solid 1px;
  border-radius: 4px;
}

 box.button{
   width: calc(70% - 0.6rem);
 }

.box img {
  height: 3rem;
}
/* goal menu */
.goal {
  flex-wrap: wrap;
  background-image: url('../img/splatter.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 9rem 7rem;
  text-align: center;
  position: absolute;
  bottom: 30%;
  filter: drop-shadow(0 0 30px #333);
  transform: rotate(340deg);
  line-height: 1rem;
  z-index: 999;
}

.goal h2{
  margin-bottom: 20mm;
}
.goal p {
  margin: 0.5rem;
}

.btn-group button {
  background-color: white; /* Green background */
  border: 1px solid black; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  margin-bottom: 1rem;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


/* Add a background color on hover */
.btn-group button:hover {
  background-color: whitesmoke;

}
button{
  margin-bottom: 0.5rem;
  justify-content: center;
  width:32%;
  font-size: 7mm;
  color: #333333;
  margin-right: 0.5rem;

}

.paiv{
  margin-bottom: 0.5rem;
  justify-content: center;
  width:48%;
  font-size: 7mm;
  color: #333333;
}

#player-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  z-index: 9999;
}

#player-form {
  display: flex;
  width: 49%;
  margin: 4rem auto;
  flex-direction: column;
}

#player-form input {
  padding: 1rem;
}

#weather {
  border-spacing: 0;
}

#weather td {
  padding: 0.3rem;
}

#weather td:first-child,
#weather td:nth-child(2) {
  border-right: var(--grey) 1px solid;
}

.lead-img {
  width: 100%;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 769px) {
  .box {
    font-size: initial;
  }

  #map {
    width: 55%;
    height: initial;
  }

  .boxes {
    width: 45%;
    padding-left: 1rem;
    box-sizing: border-box;
  }
}

/* Leaflet icons */
.blue-icon {
  background-color: #2474ff;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.green-icon {
  background-color: #27ba35;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.red-icon {
  background-color: #ba2727;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.magenta-icon {
  background-color: #9527ba;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

#myquest{
  /*display: none;*/
  width: auto;
}

#tehtava{
  display: none;
  width: auto;
}

#genret{
  display: block;
  width: auto;
  padding-left: 0.5rem;
}

dialog {
  position: fixed;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: block;
}

dialog[open] {
  opacity: 1;
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.8);
}

dialog span {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  filter: drop-shadow(2px 2px 2px #000);
}

#fancy1{
  margin-bottom: 1rem;
  justify-content: center;
  width:100%;
  font-size: 7mm;
  color: #333333;
}
#fancy2{
  margin-bottom: 1rem;
  justify-content: center;
  width:100%;
  font-size: 7mm;
  color: #333333;
}

#fancy3 {
  margin-bottom: 1rem;
  justify-content: center;
  width: 100%;
  font-size: 7mm;
  color: #333333;
}
.textc {
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
}
.textp{
    text-align: left;
  padding-bottom: 15px;
  padding-left: 10px;
}
#consumed{
  text-align: start;
}
.imgc{

  align-self: center;
}
tr{
  height:5%;
}


/* tehtävä napit style */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #F1FAEE;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
/*  päivitys napit  style*/

.button-19 {
  background-color: #457B9D;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  margin-left: 7px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 48%;

}

.button-19:after {
  background-clip: padding-box;
  background-color: #4ca1c8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}



/* genre button style */
.button-38 {
  background-color: #ef6b68;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: #ff7b76;
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}
.done {
  background-color: #a6e298;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.done:hover {
  background-color: #b7f4a9;
}



/* valitse tehtäväv button style */
.button-47 {
  align-items: center;
  background: #A8DADC;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-47:hover {
  background-color: #bceef0;
}
.resetbutton {
  width: 100%;
}